body{
    background-color: #000;
}

h1{
    color: #fff;
    text-align: center;
    font-family: 'Fredoka One', cursive;
}
h2{
    color: #fff;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    padding-bottom: 20px;
}
img{
    width: 250px;
    display: block;
    margin: auto;
    padding-bottom: 50px;
}
p{
    color: #fff;
    font-family: 'Fredoka One', cursive;
    text-align: center;
    margin-bottom: 50px;
}
p a{
    color: rgb(170, 170, 170);
    text-decoration: none;
}
p a:hover{
    text-decoration: underline;
}

.menu{
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Fredoka One', cursive;
}
.proyectos{
    display: inline-block;
    background-color: rgb(170, 170, 170);
    padding: 20px;
    color: #fff;
    text-decoration: none;
    margin-right: 50px;
}

.proyectos:hover{
    background-color: #fff;
    color: #000;
    transition: 2s;
}
.sobre_mi{
    display: inline-block;
    background-color: rgb(170, 170, 170);
    padding: 20px;
    color: #fff;
    text-decoration: none;
    margin-left: 50px;
}
.sobre_mi:hover{
    background-color: #fff;
    color: #000;
    transition: 2s;
}

@media only screen and (max-width: 425px){
    .proyectos{
        display: block;
        margin: 0;
    }
    .sobre_mi{
        display: block;
        margin: 0;
        margin-top: 40px;
    }
}