body{
    background-color: #000;
    color: #fff;
    font-family: 'Fredoka One', cursive;;
}

/* links */
a{
    text-decoration: none;
    color: rgb(170, 170, 170);
}
a:hover{
    text-decoration: underline;
}

/* back */
i{
    color: rgb(170, 170, 170);
}
.back{
    font-size: 30px;
    width: 220px;
}
.back:hover{
    text-decoration: underline;
}
.back a{
    text-decoration: none;
    color: rgb(170, 170, 170);
}

/* h1 */
h1{
    margin-top: 60px;
    font-size: 100px;
    text-align: center;
    margin-bottom: 100px;
}

/* text */
p{
    font-size: 30px;
    text-align: center;
}

/* download */
.download{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 50px;
}

/* Responsive */
@media only screen and (max-width: 611px){
    img{
        width: 345px;
    }
    footer{
        font-size: 13px;
    }
}